html { 
    height: 100%;
    margin:0px;
    background: url(the-ball-488709_1920.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

hr {
    color: #333333;
}

.web_logo_container{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    width: 40%;
}

.web_logo{
    width: 100%;
}

.web_description{
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    font-size: -0.9em;
}


.game_description{
    font-size: 0.6em;
    padding-top: 7px;
    padding-bottom: 7px;
}


.container{
    width: 90%;
    margin: 5%;
    background-color: rgba(255,255,255,0.4);
    border-radius: 15px;
    overflow: hidden;
}


.game{
    padding: 35px;
    margin-bottom: 50px;
}

.logo_home{
    float: left;
    padding-left: 2.5%;
    padding-right: 3.5%;
    width: 5%;
}

.logo_away{
    float: right;
    padding-right: 1.5%;
    padding-left: 4.5%;
    width: 5%;
}

.logo_png{
    width: 100%;
}

.teamheading{
    box-sizing: border-box;
    white-space: nowrap;
    font-weight: bold;
    font-size: 150%;
    padding-bottom: 10px;
}


.heading1{
    width: 50%;
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
}


.heading2{
    width: 50%;
    text-align: right;
    box-sizing: border-box;
    display: inline-block;
}


.probability_annot{
    box-sizing: border-box;
    white-space: nowrap;
    padding-top: 15px;
    float: left;
    width: 78%;
}


.win {
    background: #00203FFF;
    box-sizing: border-box;
    display: inline-block;
    height: 15px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10px
    margin-top: 25px;
}


.draw {
    background: #ADEFD1FF;
    box-sizing: border-box;
    display: inline-block;
    height: 15px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10px
    margin-top: 25px;
}


.loss {
    background: #B1624EFF;
    box-sizing: border-box;
    display: inline-block;
    height: 15px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10px
    margin-top: 25px;
}
